---
ref: index
layout: default
lang: en
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>
            <img src="{{ "/images/sotm-logo-white.png" | relative_url }}" alt="State of the Map LATAM - Lima 2017" class="img-responsive">
            The Latin American OpenStreetMap Conference
          </h1>
          <h2>November 29 - December 02</h2>
          <div class="about-button">
            <span class="btn-item">
              <a class="btn btn-default" href="#about" role="button">About the event</a>
            </span>
            <span class="btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="btn-item">
              <a target="_blank" class="btn btn-default"
              href="http://osmpe.ourproject.org/inscripcion-inscricao-registration/" role="button">
                Register
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      About the event
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        State of the Map Latam is the annual conference for all mappers and users of OpenStreetMap in Latin America. <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015"> The first edition </a> was held in Santiago de Chile in September 2015, <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016"> the second edition </a> was held in São Paulo, Brazil in December 2016. The 2017 edition will be held in Lima, Peru from November 29 to December 2. Our programming includes talks, panels, workshops and mapping about the most diverse topics related to OpenStreetMap.
      </p>
      <p>
        As well as OSM mappers, we will have the participation of Open Data communities, Free Software and Open Source communities, students, researchers, 		geoinformation professionals, non-governmental organizations, companies, public institutions, etc.
      </p>
      <p>
        Our conference has a <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">Code of Conduct</a>
      </p>
    </div>
  </div>
</section>

<section id="venue" class="content-section text-center">
  <div class="container">
    <div class="row text-center">
      <h2>
        Venue
      </h2>
    </div>
  </div>

  {% include map.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Faculty of Social Sciences<br>National University of San Marcos</h3>
            <p class="venue">
		<a target="_blank" href="http://csociales.unmsm.edu.pe/"> The Faculty of Social Sciences </a> is located in the University City between Univesitaria and Venezuela Avenues. The nearest entrance is the door Nº 3 of the campus located on Germán Amézaga Street. Accessibility in wheelchairs is regular.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div>
      <br>
      <p>
        Check <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Peru" target="_blank">Peru's visa policy</a>.
      </p>
    </div>
  </div>
</section>

<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      How to participate
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Share</h3>
          <p>Invite your friends and spread the word!</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participate%20of%20State%20of%20the%20Map%20Latam%202017!%20The%20Latinamerican%20#OpenStreetMap%20Conference,%2029%20Nov%20-%2029%20Dec%20in%20Lima"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center">
            <h3>Sponsor</h3>
            <p>Promote your business and support the OpenStreetMap Latam community</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% include modals.html %}
