---
ref: index
layout: default
lang: es
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>
            <img src="{{ "/images/sotm-logo-white.png" | relative_url }}" alt="State of the Map LATAM - Lima 2017" class="img-responsive">
            La Conferencia Latinoamericana de OpenStreetMap
          </h1>
          <h2>29 Noviembre - 02 Diciembre</h2>
          <div class="about-button">
            <span class="btn-item">
              <a class="btn btn-default" href="#about" role="button">Acerca del evento</a>
            </span>
            <span class="btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="btn-item">
              <a target="_blank" class="btn btn-default"
              href="http://osmpe.ourproject.org/inscripcion-inscricao-registration/" role="button">
                Registrese
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Acerca del evento
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        State of the Map Latam es la conferencia anual para todas las personas mapeadoras y usuarias de
        OpenStreetMap en Latinoamérica. <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015"> La primera edición </a> se realizó en Santiago de Chile en
        Septiembre de 2015, <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016"> la segunda edición </a> se desarrollo en São Paulo, Brasil en diciembre del 2016. La edicion del 2017 se realizará en Lima, Perú del 29 de noviembre al 02 de diciembre. Nuestra  		programación incluye charlas, paneles, talleres y mapatones acerca de los temas más diversos relacionados con OpenStreetMap.
      </p>
      <p>
        Además de mapeadores de OSM, tendremos la participación de comunidades de Datos Abiertos, comunidades de Software Libre y Open Source, estudiantes, investigadores, profesionales de la geoinformación, organizaciones no gubernamentales, empresas, instituciones públicas, etc.
      </p>
      <p>
        Nuestra conferencia tiene un
        <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">Código de Conducta</a>.
      </p>
    </div>
  </div>
</section>

<section id="venue" class="content-section text-center">
  <div class="container">
    <div class="row text-center">
      <h2>
        Local
      </h2>
    </div>
  </div>

  {% include map.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Facultad de Ciencias Sociales<br>Universidad Nacional Mayor de San Marcos</h3>
            <p class="venue">
		<a target="_blank" href="http://csociales.unmsm.edu.pe/"> La Facultad de CCSS </a> está ubicada en la Ciudad Universitaria entre las Avenidas 			Univesitaria y Venezuela. La entrada más próxima es la puerta Nº 3 del campus que se encuentra en la Calle Germán Amézaga. La accesibilidad en 			silla de ruedas es regular. 
            </p>
          </div>
        </div>
      </div>

    </div>
    <div>
      <br>
      <p>
        Verifique si necesita una
        <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Peru" target="_blank">visa para entrar en Perú</a>.
      </p>
    </div>
  </div>
</section>

<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Como participar
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Comparta</h3>
          <p>Invite a sus amigos y ayude a divulgar nuestro evento</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participa%20del%20State%20of%20the%20Map%20Latam%202017!%20La%20Conferencia%20Latinoamericana%20de%20OpenStreetMap,%2029%20Nov%20-%2002%20Dic%20en%20Lima"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center">
            <h3>Patrocine</h3>
            <p>Promocione su negocio y ayude a la comunidad OpenStreetMap Latinoamérica</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% include modals.html %}
