---
ref: index
layout: default
lang: pt
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="{{ "/images/sotm-logo-white.png" | prepend: site.baseurl }}" alt="State of the Map LATAM - Lima 2017" class="img-responsive">
          <h1>A Conferência Latino-americana <span>do OpenStreetMap</span></h1>
          <h2>29 Novembro - 02 Dezembro</h2>
          <div class="about-button">
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="#about" role="button">Sobre o evento</a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default"
              href="http://osmpe.ourproject.org/inscripcion-inscricao-registration/" role="button">
                Inscreva-se
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Sobre o Evento
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        State of the Map Latam é a conferência anual para todos os mapeadoras e usuários de OpenStreetMap na América Latina. <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015"> A primeira edição </a> foi realizada em Santiago de Chile em setembro de 2015, <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016"> a segunda edição </a> foi realizada em São Paulo em novembro de 2016. A edição de 2017 será realizada em Lima de 29 novembro - 2 dezembro. Nossa programação inclui palestras, painéis, oficinas e mapatones com base em vários <a target="_blank" href="http://wiki.openstreetmap.org/wiki/Pt:State_Of_The_Map_Latam_2017#Temas">eixos temáticos</a> relacionados com OpenStreetMap.
      </p>
      <p>
        Além dos mapeadores do OSM, teremos a participação das comunidades Open Data, Comunidades de Software Livre e Open Source, estudantes, pesquisadores, profissionais de geoinformação, ONGs, empresas, instituições públicas, etc.
      </p>
      <p>
        Nossa conferência tem um <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">código de conduta</a>.
      </p>
    </div>
  </div>
</section>

<section id="program" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Programação
    </h2>
  </div>
  <div ng-app="App" ng-controller="sotm">
    <div ng-repeat="day in days">
      <h3>{[{ day.date.pt }]}</h3>
      <br>
      {% include program.html %}
      <br>
    </div>
  </div>
</section>

<section id="venue" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Local
    </h2>
  </div>

  <div class="container-fluid row">{% include map.html %}</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Faculdade de Ciências Sociais<br>Universidade Nacional Maior de São Marcos</h3>
            <p class="venue">
		<a target="_blank" href="http://csociales.unmsm.edu.pe/"> A Faculdade de Ciências Sociais </a> está localizado na Cidade Universitária entre Univesitaria Avenidas e Venezuela. A próxima entrada é o portão No. 3 do campus localizado na Calle Germán Amézaga. A acessibilidade de cadeira de rodas é regular.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div>
      <br>
      <p>
        Verifique se você precisa de um
        <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Peru" target="_blank">visto para entrar no Peru</a>.
      </p>
    </div>
  </div>
</section>

<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Como participar
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-4 col-md-3 col-md-offset-1">
      <a href="http://osmpe.ourproject.org/llamado-a-charlas-palestras-talks/">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-check"></span>
          <div class="caption text-center">
            <h3>Registre-se</h3>
            <p>Envie sua conversa proposta até o dia 31 de Outubro</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Compartilhe</h3>
          <p>Convide seus amigos e ajude na divulgação!</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participe%20do%20State%20of%20the%20Map%20Latam%202017!%20A%20Conferência%20Latino-americana%20de%20OpenStreetMap,%2029%20Nov%20-%2002%20Dez%20em%20Lima"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center row">
            <h3>Patrocine</h3>
            <p>Promova seu negócio e ajude a comunidade Latam. Escreva-nos para info@osmlatam.org</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="sponsors" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Nossa conferência tem o suporte de:
    </h2>
    <p>
      <a href="http://telenav.com/">
        <img src="{{ "/images/telenav.png" | prepend: site.baseurl }}" alt="Telenav" width="200">
      </a>
    </p>
  </div>
</section>

{% include modals.html %}
